body {
  background-color: #faf8f1;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.cell {
  background-color: lightgray;
  width: 15px;
  height: 15px;
  border: none;
}

.cellSnake {
  background-color: green;
}

.cellFood {
  background-color: red;
}
